body {
    height: 100%;
    overflow: hidden;
}

.Header {
    position: relative;
}

.wrapper {
    text-align: center;
}

.center {
    display: inline-block;
}

.big {
    font-size: xx-large;
    font-weight: bold;
}

.Header ul, .Header li {
    margin: 0;
    padding: 0;
}

li span {
    position: relative;
    color: black;
    float: left;
}

.links {
    z-index: 2;
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link{
    background-color: rgba(0, 0, 0, 0.233);
    color: black;
    font-family: var(--font);
    font-size: 20px;
    border-radius: .5em;
}

.link:hover{
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.199);
    color: darkslategray;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}