.grid-container {
    display: grid;

    column-gap: 15px;
    row-gap: 15px;
    
    grid-template-columns: auto auto auto auto;
    /*background-color: #2196F3;*/
    padding: 10px;
}




@media (max-width: 1500px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: auto;
    }
}
.grid-item {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center
}

a.grid-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}